@font-face {
    font-family: 'proximal-nova-light';
    font-weight: normal;
    font-style: normal;
    
    src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),
        url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'proximal-nova-regular';
    font-weight: normal;
    font-style: normal;
    
    src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff');
}

body {
    font-family: "proximal-nova-regular";
    font-size: 28px;
    line-height: 58px;
    color: rgb(255, 255, 255);
    
    background-color: rgb(14, 19, 38);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container {
    width: 1480px;
    margin: 0 auto;
    display: flex;   
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

/*-----------Стиль для навигации------------*/

.main-navigation {
    padding-top: 300px;
    width: 327px;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    position: relative;
    
    background-color: transparent;
}

.main-navigation::after {
    content: "";
    position: absolute;
    
    top: 120px;
    left: 80px;
    
    width: 150px;
    height: 150px;
    
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

.navigation-list {
    margin-bottom: 200px; 
}


.navigation-list a,
.navigation-list p{
    display: inline-block;
    position: relative;
    width: 100%;
    
    font-family: "proximal-nova-light";
    font-size: 32px;
    line-height: 32px;   
    
    position: relative;
    
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 80px;
    min-height: 100px;
    box-sizing: border-box;
}

.navigation-list p {
    color: rgb(255, 75, 168);
}

.navigation-list a:hover {
    background-color: rgb(35, 23, 52);
}

.navigation-list .active::before {
    content: "";
    position: absolute;
    
    width: 10px;
    height: 65px;
    
    top: 18px;
    left: 0px;
    
    background-color: rgb(255, 75, 168);
}

.navigation-social {
    display: flex;
}


/*-----------Стиль для main------------*/

.main-container,
.main-container-work,
.main-container-certificates,
.main-container-contacts {
    padding-top: 120px;
    padding-left: 60px;
}


.main-container h2 {
    position: relative;
    
    font-family: "proximal-nova-light";
    font-size: 43px;
    line-height: 43px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 160px;
}

.main-container-work h2 {
    position: relative;
    
    font-family: "proximal-nova-light";
    font-size: 43px;
    line-height: 43px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.main-container-certificates h2{
    position: relative;
    
    font-family: "proximal-nova-light";
    font-size: 43px;
    line-height: 43px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.main-container-contacts h2 {
    position: relative;
    
    font-family: "proximal-nova-light";
    font-size: 43px;
    line-height: 43px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 160px;
}

.main-container h2::before {
    content: "";
    
    width: 180px;
    height: 4px;
    
    position: absolute;
    bottom: -5px;
    
    background-color: rgb(255, 104, 182);
}

.main-container-certificates h2::before{
    content: "";
    
    width: 260px;
    height: 4px;
    
    position: absolute;
    bottom: -5px;
    
    background-color: rgb(255, 104, 182);
}

.main-container-work h2::before {
    content: "";
    
    width: 100px;
    height: 4px;
    
    position: absolute;
    bottom: -5px;
    
    background-color: rgb(255, 104, 182);
}


.main-container-contacts h2::before {
    content: "";
    
    width: 166px;
    height: 4px;
    
    position: absolute;
    bottom: -5px;
    
    background-color: rgb(255, 104, 182);
}

.slider-info {
    margin: 0;
    padding: 0;
}


.main-container {
    width: 550px;
    position: relative;
}

.main-container::before {
    content: "";
    position: absolute;
    
    bottom: 0px;
    right: -500px;
    
    width: 450px;
    height: 770px;
    
    background-image: url(../img/logo-large.png);
    background-repeat: no-repeat;
    opacity: 0.08;
}

.slider-head {
    display: flex;
    position: relative;
    
    font-family: "proximal-nova-light";
    font-size: 65px;
    line-height: 65px;
    text-transform: uppercase;
    
    margin: 0;
    padding: 0;
}

.slider-head p:first-child{
    padding: 0;
    margin: 0;
    margin-right: 20px;
    font-weight: bold;
}

.slider-head p:nth-child(2){
    position: relative;
    
    margin: 0;
    margin-right: 10px;
    font-weight: normal;
}

.slider-head p:nth-child(2)::after{
    content: "";
    
    position: absolute;
    bottom: 10px;
    right: -25px;
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
    background-color: rgb(255, 104, 182);
}

.slider-info-job {
    font-family: "proximal-nova-regular";
    font-size: 43px;
    line-height: 58px;
    
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    
    color: rgb(255, 104, 182);
}


.slider-info-main {
    font-family: "proximal-nova-light";
    font-size: 36px;
    line-height: 58px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    
    color: rgba(255, 255, 255, .6);
}

.slider-contacts-button,
.slider-works-button {
    display: inline-block;
    
    width: 40%;
    
    border: none;
    margin: 0;
    padding: 0;
    
    color: rgb(255, 255, 255);
    background-color: rgb(37, 31, 53);
    
    padding: 10px;
    margin-right: 30px;
    box-sizing: border-box;
    text-align: center;
}


.button-active {
    background-color: rgb(255, 104, 182);
}

.work-items {
    display: flex;
    flex-wrap: wrap;
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.work-items li {    
    width: 330px;
    height: 340px;
        
    border: 1px solid #ff4ba8; 
    
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.work-items li:nth-child(3n) {
    margin-right: 0px;
}

.work-items h3 {
    font-family: "proximal-nova-light";
    font-size: 26px;
    line-height: auto;
    
    color: rgb(255, 104, 182);
    text-align: center;
    
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    
    font-family: "proximal-nova-light";
    font-size: 20px;
    line-height: auto;
    text-transform: uppercase;
    
    background-color: rgb(32, 18, 48);
    
    text-align: center;
    
    margin: 0;
    padding: 0;
    
    width: 100%;
}

.certificates-items {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.certificates-items li {
    width: 250px;
    
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 35px;
    
    box-sizing: border-box;
    
    border: 1px solid #ff4ba8; 
}

.certificates-items h3{
    font-family: "proximal-nova-light";
    font-size: 22px;
    line-height: auto;
    
    color: rgb(255, 104, 182);
    text-align: center;
    
    margin: 0;
    padding: 0;
}

.certificates-items img {
    position: relative;
    left: 12px;
}

.main-container-contacts p {
    font-family: "proximal-nova-light";
    font-size: 36px;
    line-height: 58px;
    
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    
    color: rgba(255, 255, 255, .6);
}

.main-container-contacts a {
    display: inline-block;
    
    
    font-family: "proximal-nova-regular";
    font-size: 43px;
    line-height: 58px;
    
    padding: 0;
    margin: 0;
    
    margin-bottom: 40px;
    
    color: rgb(255, 104, 182);
}


/*
var aboutme = document.querySelector(".slider-about_me");
var myworks = document.querySelector(".slider-my_works");
var certificates = document.querySelector(".slider-certificates");
var contacts = document.querySelector(".slider-contacts");
var controlsaboutme = document.querySelector(".navigation-about_me");
var controlsmyworks = document.querySelector(".navigation-my_works");
var controlscertificates = document.querySelector(".navigation-my_certificates");
var controlscontacts = document.querySelector(".navigation-contacts");

controlsmyworks.addEventListener("click", function(evt) {
	evt.preventDefault();	
	myworks.classList.add("slider-display");
});
*/












