.main-header {
  max-width: 1066px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dbdbdb; }

.main-header__logo {
  margin: 0 auto;
  margin-bottom: 30px; }

@media (max-width: 975px) {
  .main-header {
    padding-bottom: 0;
    border-bottom: none; } }

.navigation {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.navigation__link {
  text-decoration: none;
  color: #000000; }
  .navigation__link:visited {
    color: #000000; }

.navigation__item {
  font-family: 'Rufina', serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  padding: 5px;
  margin-right: 30px;
  border-bottom: 2px solid transparent; }
  .navigation__item:hover {
    border-bottom: 2px solid #a19795; }
  .navigation__item:last-child {
    margin-right: 0; }

@media (max-width: 975px) {
  .navigation {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box; }
  .navigation__item {
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #dbdbdb; } }

.main-page {
  max-width: 1066px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  box-sizing: border-box; }

.my-works {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.my-works__item {
  width: 236px;
  height: 233px;
  margin-bottom: 40px;
  margin-right: 10px;
  border: 1px solid #a19795;
  cursor: pointer;
  background-color: transparent;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); }
  .my-works__item a {
    text-decoration: none; }
  .my-works__item a:visited {
    color: #000000; }
  .my-works__item:hover {
    -webkit-filter: none;
            filter: none; }
  .my-works__item:active {
    opacity: .5; }

.my-works__git {
  display: block;
  font-family: 'Rufina', serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  width: 80px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  color: #000000; }
  .my-works__git:hover {
    border-bottom: 2px solid #a19795; }
  .my-works__git:visited {
    color: #000000; }

.my-works__preview {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  font-family: 'Rufina', serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  border-bottom: 2px solid transparent; }
  .my-works__preview:hover {
    border-bottom: 2px solid #a19795; }

.my-works__image {
  max-width: 100%;
  margin-bottom: 30px; }

@media (max-width: 975px) {
  .my-works {
    width: 240px;
    margin: 0 auto;
    flex-direction: column; } }

.main-footer {
  max-width: 1066px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 34px;
  padding-right: 34px;
  box-sizing: border-box;
  display: flex; }

@media (max-width: 975px) {
  .main-footer {
    flex-direction: column;
    align-items: center; } }

.bio {
  width: 62%; }

.bio__wrapper {
  display: flex;
  margin-bottom: 20px; }

.bio__logo {
  margin-right: 15px; }

.bio__name {
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
  font-family: 'Rufina', serif;
  font-size: 28px;
  line-height: 31px;
  color: #ffffff; }

.bio__location {
  padding: 0;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: .5; }
  .bio__location::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 9px;
    height: 12px;
    background-image: url("../img/location.png");
    background-repeat: no-repeat; }

.bio__about {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: .5; }

@media (max-width: 975px) {
  .bio {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px; } }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.social__item {
  width: 36px;
  height: 36px;
  margin-right: 18px;
  background-color: #474241;
  border-radius: 50%; }
  .social__item:hover {
    background-color: #f79440; }

.social__item--vk {
  position: relative; }
  .social__item--vk::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 3px;
    left: 2px;
    background-image: url("../img/icons/vk-logo.svg");
    background-repeat: no-repeat; }

.social__item--git {
  position: relative; }
  .social__item--git::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 5px;
    left: 3px;
    background-image: url("../img/icons/github-big-logo.svg");
    background-repeat: no-repeat; }

.social__item--inst {
  position: relative; }
  .social__item--inst::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 6px;
    left: 5px;
    background-image: url("../img/icons/instagram-logo.svg");
    background-repeat: no-repeat; }

.contacts {
  width: 31%;
  margin-left: auto;
  display: flex;
  flex-direction: column; }

.contacts__header {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-family: 'Rufina', serif;
  font-size: 28px;
  line-height: 31px;
  color: #ffffff; }

.contacts__email {
  margin-bottom: 15px;
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  .contacts__email:hover .contacts__mail-hover {
    color: #f79436; }

.contacts__phone {
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  .contacts__phone:hover .contacts__phone-hover {
    color: #f79436; }

@media (max-width: 975px) {
  .contacts {
    width: 80%;
    margin: 0 auto; } }

@font-face {
  font-family: 'Rufina';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Rufina-Regular.woff2") format("woff2"); }

.container {
  width: 100%;
  min-width: 475px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7; }

.container__footer {
  min-width: 475px;
  background-color: #605a58;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }
