.main-header {
  max-width: 1066px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dbdbdb;
  position: relative; }

.main-header__logo {
  margin: 0 auto;
  margin-bottom: 30px; }

@media (max-width: 975px) {
  .main-header {
    padding-bottom: 0;
    border-bottom: none; } }

.navigation {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.navigation__link {
  text-decoration: none;
  color: #000000; }
  .navigation__link:visited {
    color: #000000; }

.navigation__item {
  font-family: 'Rufina', Arial, serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  padding: 5px;
  margin-right: 30px;
  border-bottom: 2px solid transparent; }
  .navigation__item:hover {
    border-bottom: 2px solid #ff6942; }
  .navigation__item:last-child {
    margin-right: 0; }

@media (max-width: 975px) {
  .navigation {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box; }
  .navigation__item {
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #dbdbdb; } }

.main-page {
  max-width: 1066px;
  padding: 50px;
  margin: 0 auto;
  box-sizing: border-box; }

@media (max-width: 975px) {
  .main-page {
    padding: 20px; } }

.my-works {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px; }

.my-works__item {
  padding-bottom: 10px;
  border: 1px solid #a19795;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.2s ease; }
  .my-works__item a {
    display: block;
    text-decoration: none; }
  .my-works__item a:first-of-type {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .my-works__item a:first-of-type:hover .my-works__preview {
    border-bottom: 2px solid #ff6942; }
  .my-works__item a:visited {
    color: #000000; }
  .my-works__item:hover {
    -webkit-filter: none;
            filter: none; }
  .my-works__item:active {
    opacity: .5; }

.my-works__git {
  padding: 0;
  margin: 0;
  font-family: 'Rufina', Arial, serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 2px solid transparent;
  text-align: center;
  box-sizing: border-box;
  color: #000000; }
  .my-works__git:hover {
    border-bottom: 2px solid #ff6942; }
  .my-works__git:visited {
    color: #000000; }

.my-works__preview {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Rufina', Arial, serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border-bottom: 2px solid transparent; }

.my-works__image {
  width: 100%;
  height: auto;
  margin-bottom: 30px; }

.main-footer {
  max-width: 1066px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 34px;
  padding-right: 34px;
  box-sizing: border-box;
  display: flex; }

@media (max-width: 975px) {
  .main-footer {
    padding: 20px;
    flex-direction: column;
    align-items: center; } }

.bio {
  width: 62%; }

.bio__wrapper {
  display: flex;
  margin-bottom: 20px; }

.bio__logo {
  margin-right: 15px; }

.bio__name {
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
  font-family: 'Rufina', Arial, serif;
  font-size: 28px;
  line-height: 31px;
  color: #ffffff; }

.bio__location {
  padding: 0;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
  font-family: "Open Sans", Arial, serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: .5; }
  .bio__location::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 9px;
    height: 12px;
    background-image: url("../img/location.png");
    background-repeat: no-repeat; }

.bio__about {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: .5; }

@media (max-width: 975px) {
  .bio {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px; }
  .bio__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .bio__logo {
    margin-right: 0;
    margin-bottom: 10px; } }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.social__item {
  width: 36px;
  height: 36px;
  margin-right: 18px;
  background-color: #474241;
  border-radius: 50%;
  transition: all 0.2s ease; }
  .social__item:hover {
    background-color: #f79440; }

.social__item--vk {
  position: relative; }
  .social__item--vk::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 3px;
    left: 2px;
    background-image: url("../img/icons/vk-logo.svg");
    background-repeat: no-repeat; }

.social__item--git {
  position: relative; }
  .social__item--git::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 5px;
    left: 3px;
    background-image: url("../img/icons/github-big-logo.svg");
    background-repeat: no-repeat; }

.social__item--inst {
  position: relative; }
  .social__item--inst::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 6px;
    left: 5px;
    background-image: url("../img/icons/instagram-logo.svg");
    background-repeat: no-repeat; }

@media (max-width: 975px) {
  .social {
    justify-content: center;
    align-items: center; } }

.contacts {
  width: 31%;
  margin-left: auto;
  display: flex;
  flex-direction: column; }

.contacts__header {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-family: 'Rufina', Arial, serif;
  font-size: 28px;
  line-height: 31px;
  color: #ffffff; }

.contacts__email {
  margin-bottom: 15px;
  font-family: "Open Sans", Arial, serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  .contacts__email:hover .contacts__mail-hover {
    color: #f79436; }

.contacts__mail-hover {
  transition: all 0.4s ease; }

.contacts__phone {
  font-family: "Open Sans", Arial, serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  .contacts__phone:hover .contacts__phone-hover {
    color: #f79436; }

@media (max-width: 975px) {
  .contacts {
    width: 80%;
    margin: 0 auto; }
  .contacts__header {
    text-align: center; } }

.language {
  position: absolute;
  top: 0;
  right: 0; }

.language--open .language__list {
  display: block; }

.language--open .language__type {
  color: #f79436; }

.language__type {
  font-family: 'Rufina',Arial,serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer; }
  .language__type:hover {
    color: #f79436; }

.language__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  position: absolute;
  top: 40px;
  right: 0;
  display: none; }

.language__item {
  margin-bottom: 10px; }

.language__language {
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease; }
  .language__language:hover {
    color: #f79436; }

@media (max-width: 975px) {
  .language {
    top: 10px;
    right: 10%; } }

@font-face {
  font-family: 'Rufina';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Rufina-Regular.woff2") format("woff2");
  font-display: swap; }

img {
  max-width: 100%; }

.visually-hidden {
  display: none; }

.container {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7; }

.container__footer {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #605a58; }

body {
  margin: 0;
  padding: 0; }
