.container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container__footer {
  background-color: #605a58;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}