@font-face
{
    font-family: 'open_sanslight';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
}

@font-face
{
    font-family: 'gilroyextrabold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face
{
    font-family: 'gilroylight';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face
{
    font-family: 'open_sansregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
}

body
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;

    color: #000;
    background-color: #fff;
}

.container-header
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.middle-container
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 180px;
    padding-left: 20px;
}

.container-bottom
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left: 20px;
}

.container-services
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.container-footer
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 48px;
    padding-left: 20px;
}

.container-catalog
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
}

.layer
{
    overflow: hidden;
}

img
{
    max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
}

a
{
    font-style: normal;

    text-decoration: none;

    color: #000;
}

/*--------------СТИЛИ ДЛЯ ХЭДЕРА------------*/

.main-header
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 43px;
    padding-right: 45px;
    padding-bottom: 158px;
    padding-left: 60px;

    background-color: rgba(240,197, 46, .5);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-header-catalog
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 43px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 60px;

    background-color: rgba(240,197, 46, .5);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.logo-header
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;

    position: absolute;
    top: -25px;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
}
.user_block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 35px;
}

.user_block-search
{
    position: relative;

    width: 440px;
    margin: 0;
    margin-right: 100px;
    padding: 0;
}

.search-form
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;

    position: relative;

    width: 355px;
    height: 30px;
    margin: 0;
    padding: 0;
    padding-right: 80px;
    padding-left: 40px;

    letter-spacing: .01em;

    color: rgba(0, 0, 0, .3);
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    outline: 0;
    background-color: transparent;
}

.user_block-search input:hover
{
    color: rgba(0, 0, 0, .6);
}

.user_block-search input:focus
{
    color: rgba(0, 0, 0, 1.0);
    border-bottom: 2px solid;
    border-bottom-color: rgb(0, 0, 0);
}

.search-button
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;

    position: absolute;
    top: -2px;
    left: 395px;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 80px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;

    letter-spacing: .01em;

    color: transparent;
    border: none;
    border: 2px solid;
    border-color: transparent;
    background-color: transparent;
}

.search-form:focus + .search-button
{
    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 80px;
    padding-right: 10px;
    padding-left: 10px;

    color: rgb(0, 0, 0);
    border: none;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
}

.search-form:focus + .search-button:hover
{
    display: block;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.search-form:focus + .search-button:active
{
    color: rgba(0, 0, 0, .3);
}

.user_block-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.user-interaction
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 280px;
    padding-left: 25px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}



.login-link
{
    width: 140px;
    margin-right: 23px;

    letter-spacing: .01em;
}

.logout-link
{
    opacity: .3;
}

.logout-link:hover
{
    opacity: .7;
}

.logout-link:active
{
    opacity: .1;
}

.login-link::before
{
    position: absolute;
    top: 9px;
    left: 0;

    width: 13px;
    height: 12px;

    content: '';

    background-image: url('../img/icons/user-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}


.compare-link
{
    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100px;
    margin: 0;
    margin-right: 35px;
    padding: 0;
    padding-left: 27px;

    vertical-align: top;
}

.compare-link::before
{
    position: absolute;
    top: 9px;
    left: 8px;

    width: 10px;
    height: 10px;

    content: '';

    background-image: url('../img/icons/compare-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart-link
{
    position: relative;

    display: inline-block;

    width: 85px;
    margin: 0;
    padding: 0;
    padding-left: 25px;

    vertical-align: top;
}

.cart-link::before
{
    position: absolute;
    top: 8px;
    left: 5px;

    width: 12px;
    height: 12px;

    content: '';

    background-image: url('../img/icons/cart-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link:hover,
.compare-link:hover,
.cart-link:hover
{
    opacity: .6;
}

.login-link:active,
.compare-link:active,
.cart-link:active
{
    opacity: .3;
}

.user_block-search::before
{
    position: absolute;
    top: 8px;
    left: 3px;

    width: 16px;
    height: 16px;

    content: '';

    background-image: url('../img/icons/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}


.user_block-log_in:hover,
.user_block-compare:hover,
.user_block-cart:hover,
.main-navigation-menu-catalog:hover,
.menu-delivery:hover,
.menu-warranty:hover,
.menu-contacts:hover
{
    opacity: .6;
}

.user_block-log_in:active,
.user_block-compare:active,
.user_block-cart:active,
.menu-delivery:active,
.menu-warranty:active,
.menu-contacts:active
{
    opacity: .3;
}

.user_block-log_in:hover::before,
.user_block-compare:hover::before,
.user_block-cart:hover::before
{
    opacity: .6;
}

.user_block-log_in:active::before,
.user_block-compare:active::before,
.user_block-cart:active::before
{
    opacity: .3;
}

.main-navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.catalog
{
    position: relative;

    display: inline-block;

    vertical-align: top;
}

.catalog-options
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;

    position: absolute;
    left: -60px;

    display: none;

    min-width: 1160px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 40px;
    padding-left: 60px;

    letter-spacing: .01em;

    background-color: rgb(247, 226, 150);
}

.catalog-option-list
{
    width: 240px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog:hover .catalog-options
{
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.menu-catalog
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    position: relative;

    width: 255px;
    margin: 0;
    margin-right: 290px;
    padding: 0;
    padding-right: 30px;

    letter-spacing: .2em;
    text-transform: uppercase;

    border: none;
    background-color: inherit;
}

.menu-catalog::after
{
    position: absolute;
    top: 3px;
    right: 1px;

    width: 16px;
    height: 16px;

    content: '';

    opacity: .3;
    background-image: url('../img/icons/catalog-plus-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-catalog:hover
{
    color: rgba(0, 0, 0, .6);
}




.menu-delivery,
.menu-warranty,
.menu-contacts
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    display: inline-block;

    margin: 0;
    padding: 0;

    vertical-align: top;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.menu-delivery
{
    margin-right: 34px;
}

.menu-warranty
{
    margin-right: 108px;
}

.catalog-options a:hover
{
    color: rgba(0, 0, 0, .6);
}

.catalog-options a:active
{
    color: rgba(0, 0, 0, .3);
}

.main-navigation-menu,
.main-navigation-cataloglist,
.user_block,
.popular,
.main-container-slider ul,
.manufacturer,
.main-footer ul,
.services-navigation,
.main-container-sorting-criterion ul,
.arrows ul,
.main-container-items-list,
.pagination,
.main-container-bluetooth ul,
.navigation-list,
.about-companys,
.catalog-option-first_list,
.catalog-option-second_list,
.catalog-option-third-list
{
    list-style: none;
}


.logo-header:hover
{
    color: rgba(0, 0, 0, .6);
}

.logo-header:active,
.user_block:active,
.main-navigation a:active
{
    color: rgba(0, 0, 0, .3);
}

/*--------------СТИЛИ ДЛЯ СЛАЙДЕРА------------*/

.main-container-slider
{
    position: relative;

    margin-top: -130px;
    margin-bottom: 108px;
}

.slide-image
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 530px;
    height: 486px;
    margin-right: 30px;
    padding: 0;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.slider
{
    display: none;

    margin: 0;
    padding: 0;
}


.slider:nth-child(1) .slide-image
{
    padding-left: 50px;
}

.slider:nth-child(2) .slide-image
{
    padding-left: 80px;
}

.slider:nth-child(3) .slide-image
{
    padding-top: 70px;
}

.slider-controls
{
    position: absolute;
    top: 327px;
    left: 996px;

    width: 130px;
    height: 20px;
}

.slider-controls label
{
    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 10px;
    height: 10px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    padding: 10px;

    cursor: pointer;
    vertical-align: top;

    border-radius: 50%;
}

.slider-controls label::after
{
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;

    width: 10px;
    height: 10px;

    content: '';

    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    background-color: inherit;
}

.controls-item-selfie:checked ~ .slider-controls .slider-controls-item--selfie::before,
.controls-item-fitness-wristbands:checked ~ .slider-controls .slider-controls-item--fitness-wristbands::before,
.controls-item-quadrupter:checked ~ .slider-controls .slider-controls-item--quadrupter::before
{
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 7px;

    width: 2px;
    height: 2px;
    margin: 0;

    content: '';

    border: 1px solid;
    border-radius: 50%;
    background-color: inherit;
}

.slide-content
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 510px;
    margin: 0;
    padding: 0;
    padding-top: 85px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.slide-content b
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 179px;
    line-height: 179px;

    position: absolute;
    z-index: 0;
    top: -10px;
    right: -5px;

    margin: 0;
    padding: 0;

    color: #fff;
    color: rgb(255, 255, 255);
}

.slide-content::before
{
    position: absolute;
    top: 40px;

    width: 100px;
    height: 7px;

    content: '';

    background-color: rgb(255, 255, 255);
}

.slide-head
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;

    z-index: 1;

    margin: 0;
    margin-bottom: 18px;
    padding: 0;

    letter-spacing: .01em;
}

.slide-info
{
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    letter-spacing: .01em;
}

.slide-more-info
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    position: relative;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 220px;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
    padding: 15px 40px;

    letter-spacing: .2em;
    text-transform: uppercase;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slide-more-info::before
{
    position: absolute;
    z-index: -1;
    top: 42%;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';

    background-color: rgb(240, 197, 46);
}

.slide-more-info:hover
{
    background-color: rgb(240, 197, 46);
}

.slide-more-info:active
{
    color: rgba(0, 0, 0, .3);
}

.slide-item-spec
{
    max-width: 460px;
}

.slide-item-spec-value td
{
    padding-bottom: 5px;
}


.slide-item-spec-name td
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;

    margin: 0;
    padding: 0;
    padding-right: 55px;

    text-align: left;
    letter-spacing: .01em;
}

.main-container-slider .slide-item-spec-value
{
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;

    margin: 0;
    padding: 0;

    text-align: left;
    letter-spacing: .01em;
}

.main-container-slider .slide-item-spec-name
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 20px;
    line-height: 10px;

    margin: 0;
    padding: 0;
}

.controls-item-selfie:checked ~ ul .slider:nth-child(1)
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.controls-item-fitness-wristbands:checked ~ ul .slider:nth-child(2)
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.controls-item-quadrupter:checked ~ ul .slider:nth-child(3)
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slide-content a
{
    display: inline-block;

    vertical-align: top;
}

/*--------СЛАЙД ПОПУЛЯРНЫЕ ТОВАРЫ----------*/

.popular
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.popular-block
{
    display: block;

    width: 160px;
    height: 160px;
    margin-bottom: 35px;

    background-color: rgba(240, 197, 46, .5);
}

.popular li
{
    width: 160px;
    height: 240px;
    margin-right: 40px;
}

.popular li:nth-child(6n)
{
    margin-right: 0;
}

.popular li:nth-child(n+7)
{
    margin-bottom: 40px;
}

.popular p
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    margin: 0;
    padding: 0;
}

.virtual-reality,
.monopods,
.cameras,
.wristbands,
.smart-watch,
.quadrupter
{
    position: relative;
}

.virtual-reality::after
{
    position: absolute;
    top: 50px;
    left: 30px;

    width: 97px;
    height: 55px;

    content: '';

    background-image: url('../img/icons/vr-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.monopods::after
{
    position: absolute;
    top: 40px;
    left: 40px;

    width: 86px;
    height: 117px;

    content: '';

    background-image: url('../img/icons/monopods-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cameras::after
{
    position: absolute;
    top: 37px;
    left: 50px;

    width: 71px;
    height: 87px;

    content: '';

    background-image: url('../img/icons/cameras-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.wristbands::after
{
    position: absolute;
    top: 50px;
    left: 28px;

    width: 107px;
    height: 65px;

    content: '';

    background-image: url('../img/icons/wrisbands-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.smart-watch::after
{
    position: absolute;
    top: 32px;
    left: 55px;

    width: 56px;
    height: 98px;

    content: '';

    background-image: url('../img/icons/smart-watch-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.quadrupter::after
{
    position: absolute;
    top: 52px;
    left: 14px;

    width: 132px;
    height: 69px;

    content: '';

    background-image: url('../img/icons/quadrupter-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.virtual-reality:hover,
.monopods:hover,
.cameras:hover,
.wristbands:hover,
.smart-watch:hover,
.quadrupter:hover
{
    background-color: rgba(240, 197, 46, 1.0);
}

.virtual-reality:active::after,
.monopods:active::after,
.cameras:active::after,
.wristbands:active::after,
.smart-watch:active::after,
.quadrupter:active::after
{
    opacity: .3;
}

/*-------------СТИЛЬ ДЛЯ СЕРВИСЫ-----------*/

.services
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;

    position: relative;

    margin-bottom: 90px;
    padding-bottom: 100px;

    letter-spacing: .01em;

    background-color: rgb(229, 229, 229);
}


.services h3,
.main-container-info h3
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;

    margin: 0;
    padding: 0;

    letter-spacing: .01em;
}

.services h3
{
    position: relative;
    top: -25px;

    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.services p
{
    margin: 0;
    padding: 0;
}

.services-navigation
{
    position: relative;
    top: -15px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 280px;
    margin: 0;
    margin-right: 120px;
    padding: 0;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navigation-list
{
    position: relative;

    width: 440px;
    margin: 0;
    padding: 0;
}

.services-navigation::after
{
    position: absolute;
    top: -80px;
    left: 278px;

    width: 7px;
    height: 319px;

    content: '';

    background-color: rgb(0, 0, 0);
}

.services-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services-navigation label
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    position: relative;
    z-index: 0;

    display: block;

    width: 160px;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;

    cursor: pointer;
    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.services-navigation label::before
{
    position: absolute;
    z-index: -1;
    top: 41%;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';

    background-color: rgb(240, 197, 46);
}

.services-navigation label:hover
{
    background-color: rgb(240, 197, 46);
}

.navigation-list .navigation-item:nth-child(1)::after
{
    position: absolute;
    top: -15px;
    left: 560px;

    width: 136px;
    height: 164px;

    content: '';

    background-image: url('../img/icons/delivery-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-list .navigation-item:nth-child(2)::after
{
    position: absolute;
    top: -35px;
    left: 550px;

    width: 171px;
    height: 195px;

    content: '';

    background-image: url('../img/icons/warranty-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-list .navigation-item:nth-child(3)::after
{
    position: absolute;
    top: -35px;
    left: 550px;

    width: 156px;
    height: 188px;

    content: '';

    background-image: url('../img/icons/credit-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.navigation-item
{
    display: none;
}

.services-delivery-item:checked ~ .navigation-list .navigation-item:nth-child(1)
{
    display: block;
}

.services-warranty-item:checked ~ .navigation-list .navigation-item:nth-child(2)
{
    display: block;
}

.services-credit-item:checked ~ .navigation-list .navigation-item:nth-child(3)
{
    display: block;
}

.services-delivery-item:checked ~ .services-navigation .services-delivery::before,
.services-warranty-item:checked ~ .services-navigation .services-warranty::before,
.services-credit-item:checked ~ .services-navigation .services-credit::before
{
    display: none;
}

.services-delivery-item:checked ~ .services-navigation .services-delivery
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 20px;

    content: '';
    text-align: left;

    color: rgb(247, 225, 132);
    background-color: rgb(0, 0, 0);
}

.services-warranty-item:checked ~ .services-navigation .services-warranty
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 22px;

    content: '';
    text-align: left;

    color: rgb(247, 225, 132);
    background-color: rgb(0, 0, 0);
}

.services-credit-item:checked ~ .services-navigation .services-credit
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 36px;

    content: '';
    text-align: left;

    color: rgb(247, 225, 132);
    background-color: rgb(0, 0, 0);
}


/*-------------БЛОК ПРОИЗВОДИТЕЛЕЙ-------------*/

.manufacturer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-bottom: 85px;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.manufacturer li
{
    margin-right: 40px;
}

.manufacturer li:nth-child(4n)
{
    margin-right: 0;
}

.manufacturer-item
{
    opacity: .4;

    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}

.manufacturer-item:hover
{
    opacity: 1;

    -webkit-filter: none;
            filter: none;
}

/*-------------БЛОК О НАС-------------*/

.main-container-info
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 52px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.info-about_us
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 740px;
    margin-right: 100px;
}

.info-about_us::before
{
    position: absolute;
    top: 0;

    width: 80px;
    height: 7px;

    content: '';

    background-color: rgb(0, 0, 0);
}


.info-about_us h3,
.info-contacts h3
{
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
}

.info-about_us p
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;

    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.info-contacts
{
    position: relative;
}

.info-contacts::before
{
    position: absolute;
    top: -50px;

    width: 80px;
    height: 7px;

    content: '';

    background-color: rgb(0, 0, 0);
}

.info-contacts p
{
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.info-contacts img
{
    margin-bottom: 60px;
}

.about-companys
{
    margin-bottom: 55px;
    padding-top: 20px;
}

.about-companys p
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;

    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.about-companys p::before
{
    position: absolute;
    top: 17px;
    left: -38px;

    width: 5px;
    height: 5px;

    content: '';

    border: 1px solid;
    border-color: rgb(230, 230, 230);
    border-radius: 50%;
    background-color: transparent;
}

.about_us-button,
.contacts-write-us
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            box-sizing: border-box;
    min-width: 270px;
    margin: 0;
    padding: 0;
    padding: 8px 25px;

    text-align: center;
    vertical-align: top;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.about_us-button:hover,
.contacts-write-us:hover
{
    background-color: rgb(240, 197, 46);
}

.about_us-button:active,
.contacts-write-us:active
{
    color: rgba(0, 0, 0, .3);
}

.about_us-button::before,
.contacts-write-us::before
{
    position: absolute;
    z-index: -1;
    top: 39%;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';

    background-color: rgb(240, 197, 46);
}

/*-----------СТИЛЬ ДЛЯ POP-UP----------------*/

@-webkit-keyframes drop
{
    0%
    {
        -webkit-transform: translateY(-5000px);
                transform: translateY(-5000px);
    }
    70%,
    90%
    {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    80%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes drop
{
    0%
    {
        -webkit-transform: translateY(-5000px);
                transform: translateY(-5000px);
    }
    70%,
    90%
    {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    80%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

iframe
{
    border: 0;
}

.map
{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;

    display: none;

    width: 960px;
    margin-top: -250px;
    margin-left: -480px;

    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-duration: .2s;
            animation-duration: .2s;
}

.map-modal
{
    cursor: pointer;
}

.map-show
{
    display: block;
}

.write_us
{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;

    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 960px;
    margin-top: -250px;
    margin-left: -480px;
    padding: 80px;

    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-duration: .2s;
            animation-duration: .2s;

    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 5px 10px 18px rgb(136, 136, 136);
            box-shadow: 5px 10px 18px rgb(136, 136, 136);
}

.write_us-show
{
    display: block;
}

.write_us input::-webkit-input-placeholder,
.write_us textarea::-webkit-input-placeholder
{
    color: rgba(70, 70, 70, .4);
}

.write_us input:-ms-input-placeholder,
.write_us textarea:-ms-input-placeholder
{
    color: rgba(70, 70, 70, .4);
}

.write_us input::-ms-input-placeholder,
.write_us textarea::-ms-input-placeholder
{
    color: rgba(70, 70, 70, .4);
}

.write_us input::placeholder,
.write_us textarea::placeholder
{
    color: rgba(70, 70, 70, .4);
}

.modal-pop-up
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.write_us-name,
.write_us-email
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px;
    margin: 0;
    padding: 0;
    padding: 20px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.write_us-letter
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 800px;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    padding: 20px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.write_us label
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.write_us input,
.write_us textarea
{
    font-family: 'open_sansregular', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;

    border: 3px solid #f2f2f2;
    background-color: rgba(229, 229, 229, .5);
}

.write_us input:hover,
.write_us textarea:hover
{
    border: 3px solid #eaeaea;
    background-color: rgba(229, 229, 229, .8);
}

.write_us input:focus,
.write_us textarea:focus
{
    border: 3px solid rgba(240, 197, 46, .5);
    outline: 0;
    background-color: rgb(255, 255, 255);
}

.write_us input:invalid
{
    border: 3px solid #f6dada;
    background-color: rgba(237, 181, 181, .5);
}

.write_us input
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.write_us textarea
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 155px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;

    resize: none;
}

.write_us .button
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    position: relative;
    z-index: 1;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    padding: 8px 25px;

    vertical-align: top;
    letter-spacing: .2em;
    text-transform: uppercase;

    border: none;
    background-color: transparent;
}

.write_us .button::before
{
    position: absolute;
    z-index: -1;
    top: 39%;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';

    background-color: rgb(240, 197, 46);
}

.write_us .button:hover
{
    background-color: rgb(240, 197, 46);
}

.write_us .button:active
{
    color: rgba(0, 0, 0, .3);
    background-color: rgb(240, 197, 46);
}

.modal-close,
.map-close
{
    font-size: 0;

    position: absolute;
    top: 25px;
    right: 15px;

    width: 50px;
    height: 50px;

    cursor: pointer;

    border: none;
    border-radius: 50%;
    background-color: rgba(240, 197, 46, .5);
}

.modal-close:hover,
.map-close:hover
{
    background-color: rgba(240, 197, 46, 1.0);
}

.modal-close:active,
.map-close:active
{
    background-color: rgba(240, 197, 46, .3);
}

.modal-close::before,
.map-close::before
{
    position: absolute;
    top: 13px;
    left: 24px;

    width: 2px;
    height: 25px;

    content: '';
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    background-color: rgb(255, 255, 255);
}

.modal-close::after,
.map-close::after
{
    position: absolute;
    top: 13px;
    left: 24px;

    width: 2px;
    height: 25px;

    content: '';
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    background-color: rgb(255, 255, 255);
}


/*-----------СТИЛЬ ДЛЯ ФУТЕРА----------------*/

.main-footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    color: rgb(255, 255, 255);
    background-color: rgb(70, 70, 70);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo-footer
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;

    margin: 0;
    margin-right: 510px;
    padding: 0;

    text-transform: uppercase;

    color: rgb(255, 198, 0);
}

.logo-footer:hover
{
    opacity: .6;
}

.footer-userblock
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 8px;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer-navigation::before
{
    position: absolute;
    z-index: 1;
    bottom: -68px;

    width: 80px;
    height: 7px;

    content: '';

    background-color: rgb(255, 198, 0);
}

.footer-user-interaction
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 300px;
    margin: 0;
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer-login-link
{
    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    margin-right: 18px;
    padding: 0;
    padding-top: 4px;

    vertical-align: top;

    color: rgba(255, 255, 255, .7);
}

.footer-logout-link
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;

    padding-top: 4px;
    padding-right: 15px;

    letter-spacing: .01em;

    color: rgba(255, 255, 255, .3);
}

.footer-match
{
    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100px;
    margin: 0;
    margin-right: 40px;
    padding: 0;
    padding-top: 4px;
    padding-left: 17px;

    vertical-align: top;

    color: rgba(255, 255, 255, .7);
}

.footer-cart
{
    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 85px;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-left: 20px;

    vertical-align: top;

    color: rgba(255, 255, 255, .7);
}

.footer-login-link::after
{
    position: absolute;
    top: 12px;
    left: -28px;

    width: 13px;
    height: 12px;

    content: '';

    background-image: url('../img/icons/user-icon-footer.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-match::after
{
    position: absolute;
    top: 14px;
    left: 0;

    width: 13px;
    height: 12px;

    content: '';

    background-image: url('../img/icons/compare-icon-footer.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-cart::after
{
    position: absolute;
    top: 12px;
    left: 0;

    width: 13px;
    height: 12px;

    content: '';

    background-image: url('../img/icons/cart-icon-footer.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-login-link:hover,
.footer-match:hover,
.footer-cart:hover
{
    color: rgb(255, 255, 255);
}

.footer-logout-link:hover
{
    color: rgba(255, 255, 255, .5);
}

.footer-login-link:active,
.footer-match:active,
.footer-cart:active
{
    opacity: .3;
}

.footer-logout-link:active
{
    color: rgba(255, 255, 255, .1);
}

.footer-login:hover::after,
.footer-match:hover::after,
.footer-cart:hover::after
{
    opacity: .6;
}

.footer-navigation
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 48px;
    padding: 0;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-navigation p
{
    z-index: 2;
}

.footer-navigation p:first-child
{
    width: 203px;
}

.footer-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 440px;
    margin-right: 187px;
    margin-left: 166px;
    padding: 0;
    padding-top: 6px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.footer-wrapper a:nth-child(1)
{
    margin-right: 32px;
}

.footer-wrapper a:nth-child(2)
{
    margin-right: 32px;
}

.footer-wrapper a
{
    color: rgb(255, 255, 255);
}

.footer-wrapper a:hover
{
    opacity: .6;
}

.footer-wrapper a:active
{
    opacity: .3;
}

.footer-wrapper a
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: .2em;
    text-transform: uppercase;
}

.telephone
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;

    color: rgb(255, 255, 255);
}

.social
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 160px;
    margin-left: 510px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.social a:nth-child(n+4)
{
    margin-top: 20px;
}

.facebook,
.instagram,
.twitter
{
    position: relative;

    display: inline-block;

    width: 35px;
    height: 35px;
    margin-right: 20px;

    vertical-align: top;

    opacity: .3;
}

.social a:nth-child(3n)
{
    margin-right: 0;
}

.facebook::before
{
    position: absolute;

    width: 34px;
    height: 34px;

    content: '';

    background-image: url('../img/icons/facebook-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.instagram::before
{
    position: absolute;

    width: 35px;
    height: 35px;

    content: '';

    background-image: url('../img/icons/instagram-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.twitter::before
{
    position: absolute;

    width: 35px;
    height: 35px;

    content: '';

    background-image: url('../img/icons/twitter-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.facebook:hover,
.instagram:hover,
.twitter:hover
{
    opacity: .6;
}

.facebook:active,
.instagram:active,
.twitter:active
{
    opacity: .1;
}

.footer-links
{
    position: relative;
}

.html-academy
{
    position: absolute;
    top: -3px;
    right: 2px;

    width: 30px;
    height: 40px;
}

.html-academy:hover
{
    opacity: .6;
}

.html-academy:active
{
    opacity: .3;
}

.html-academy::after
{
    position: absolute;

    width: 29px;
    height: 37px;

    content: '';

    background-image: url('../img/icons/logo-html-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}


/*-----------СТИЛЬ ДЛЯ КАТАЛОГА----------------*/

.breadcrumbs
{
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
    padding-top: 38px;
    padding-left: 60px;
}

.breadcrumbs-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.breadcrumbs-wrapper li
{
    position: relative;

    margin-right: 40px;
}

.breadcrumbs-wrapper li::before
{
    position: absolute;
    top: 13px;
    right: -23px;

    width: 6px;
    height: 10px;

    content: '';

    background-image: url('../img/icons/nav-arrow-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs-wrapper li:last-child::before
{
    display: none;
}

.breadcrumbs h1
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;

    margin: 0;
    margin-bottom: 19px;
    padding: 0;

    letter-spacing: .01em;
}

.breadcrumbs a,
.breadcrumbs span
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;

    color: rgba(0, 0, 0, .3);
}

.breadcrumbs span
{
    margin: 0;
    padding: 0;
}

.breadcrumbs a:hover
{
    color: rgba(0, 0, 0, .6);
}

.breadcrumbs a:active
{
    color: rgba(0, 0, 0, .1);
}

.main-container-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 0;
    padding-left: 43px;

    background-color: inherit;
}


.main-container-wrapper legend
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    margin: 0;
    padding: 0;

    letter-spacing: .01em;
}

.main-container-wrapper label
{
    font-family: 'open_sansregular', Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;

    margin: 0;
    padding: 0;

    letter-spacing: .01em;
}

.main-container-search
{
    position: relative;

    width: 240px;
    margin: 0;
    padding: 0;
    padding-right: 45px;

    background-color: rgb(239, 239, 239);
}

.main-container-search::after
{
    position: absolute;
    z-index: -1;
    top: 50px;
    left: -50vw;

    width: 50vw;
    height: 100%;

    content: '';

    background-color: rgb(239, 239, 239);
}

.main-container-search h3::after
{
    position: absolute;
    top: 0;
    left: -50vw;

    width: 50vw;
    height: 100%;

    content: '';

    background-color: rgb(220, 220, 220);
}

.main-container-search h3
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    position: relative;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 285px;
    height: 70px;
    margin: 0;
    margin-bottom: 70px;
    padding-top: 22px;
    padding-left: 20px;

    vertical-align: top;
    letter-spacing: .2em;
    text-transform: uppercase;

    background-color: rgb(220, 220, 220);

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.filter-item
{
    position: relative;

    min-height: 135px;
    margin: 0;
    padding: 0;
}

.filter-item legend::after
{
    position: absolute;
    top: 0;
    left: 16px;

    width: 201px;
    height: 2px;

    content: '';

    background-color: rgb(0, 0, 0);
}

.main-container-color
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 285px;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 17px;

    border: none;
}

.main-container-color legend
{
    position: relative;

    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 20px;
}

.main-container-bluetooth legend
{
    position: relative;

    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    padding-top: 15px;
}

.main-container-color legend::after
{
    position: absolute;
    top: 5px;
    left: 0;

    width: 201px;
    height: 2px;

    content: '';

    background-color: rgb(0, 0, 0);
}

.main-container-color ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-container-color label,
.main-container-bluetooth label
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;

    margin: 0;
    padding: 0;
    padding-left: 37px;

    letter-spacing: .01em;
}

.main-container-bluetooth
{
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
    padding-left: 15px;

    border: none;
}

.main-container-bluetooth legend::after
{
    position: absolute;
    top: 4px;
    left: 0;

    width: 201px;
    height: 2px;

    content: '';

    background-color: rgb(0, 0, 0);
}

.main-container-bluetooth label
{
    margin: 0;
    padding: 0;
}

.filter-item
{
    margin: 0;
    padding: 0;

    border: none;
}

.range-filter
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    margin-top: 35px;
}

.filter-item legend
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    position: relative;

    padding-top: 11px;
    padding-left: 17px;

    letter-spacing: .01em;
}

.range-controls
{
    position: relative;

    height: 5px;
    padding-right: 0;
    padding-left: 20px;

    border-radius: 5px;
    background-color: transparent;
}

.range-controls .bar
{
    width: 100%;
    height: 2px;

    background: #91c92f;
}

.range-controls .toggle
{
    position: absolute;
    top: -10px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min
{
    left: 10px;
}

.range-controls .toggle-max
{
    left: 125px;
}


.range-controls .scale
{
    width: 200px;
    height: 2px;
    margin: 0;
    padding: 0;

    background: #d7dcde;
}

.price-controls
{
    font-size: 0;
}

.price-controls label
{
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 93px;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-left: 14px;

    vertical-align: top;

    color: rgba(0, 0, 0, .2);
}

.price-controls input
{
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;

    width: 40px;

    color: rgba(0, 0, 0, .2);
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

.filter-option-bluetooth
{
    margin: 0;
    padding: 0;
}

.filter-button
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    position: relative;
    z-index: 1;

    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    padding: 8px 25px;

    vertical-align: top;
    letter-spacing: .2em;
    text-transform: uppercase;

    border: none;
    background-color: transparent;
}

.filter-button::before
{
    position: absolute;
    z-index: -1;
    top: 39%;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';

    background-color: rgb(240, 197, 46);
}

.filter-button:hover
{
    background-color: rgb(240, 197, 46);
}

.filter-button:active
{
    color: rgba(0, 0, 0, .3);
}

.main-container-sorting-criterion
{
    font-family: 'open_sansregular', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 290px;
    margin: 0;
    margin-right: 235px;
    padding: 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.items-wrapper
{
    position: relative;

    width: 820px;
    padding-left: 50px;
}

.main-container-sorting::after
{
    position: absolute;
    top: 0;
    right: -50vw;

    width: 50vw;
    height: 100%;

    content: '';

    background-color: rgb(239, 239, 239);
}

.main-container-sorting-criterion a
{
    color: rgba(0, 0, 0, .3);
}

.main-container-sorting-criterion a:nth-child(1)
{
    color: rgba(0, 0, 0, 1.0);
}

.main-container-sorting-criterion a:hover
{
    color: rgba(0, 0, 0, 1.0);
}

.main-container-sorting-criterion a:active
{
    color: rgba(0, 0, 0, .6);
}

.up:hover::before,
.down:hover::before
{
    opacity: .4;
}

.up:active::before,
.down:active::before
{
    opacity: 1.0;
}

.main-container-sorting h3
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    display: inline-block;

    width: 145px;
    margin: 0;
    margin-right: 55px;
    padding: 0;

    vertical-align: top;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.main-container-sorting
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin: 0;
    margin-bottom: 45px;
    margin-left: -50px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 73px;

    background-color: rgb(239, 239, 239);

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.up
{
    position: relative;

    margin-right: 20px;

    opacity: .2;
}

.down
{
    position: relative;

    opacity: .2;
}

.up::before
{
    position: absolute;
    top: 5px;
    left: -5px;

    width: 11px;
    height: 10px;

    content: '';

    background-image: url('../img/icons/icon-up-dir-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.down::before
{
    position: absolute;
    top: 5px;

    width: 11px;
    height: 10px;

    content: '';

    background-image: url('../img/icons/icon-down-dir-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-container-items
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-container-items-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 23px;

    background-color: rgb(255, 255, 255);

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.items-wrap
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.items-list
{
    position: relative;

    width: 360px;
    height: 480px;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.new-item
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;

    position: absolute;
    top: 50px;
    right: 45px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding-top: 17px;
    padding-right: 12px;
    padding-bottom: 17px;
    padding-left: 12px;

    letter-spacing: .05em;
    text-transform: uppercase;

    opacity: .3;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 50%;
    background-color: inherit;
}

.items-list-info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.items-list-link h3
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    width: 280px;
    margin: 0;
    padding: 0;
    padding-top: 23px;

    letter-spacing: .01em;
}

.items-list-link b
{
    font-family: 'gilroylight', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    width: 83px;
    margin: 0;
    padding: 0;
    padding-top: 23px;

    text-align: right;
    letter-spacing: .01em;

    color: rgb(70, 70, 70);
}

.items-user-interaction
{
    position: absolute;
    top: 25px;
    left: 20px;

    display: none;

    width: 360px;
    height: 380px;

    background-color: rgba(238, 238, 238, .65);
}

.user-interaction-button
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    position: relative;
    z-index: 1;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 205px;
    height: 40px;
    margin: 0;
    padding: 0;
    padding: 8px 36px;

    letter-spacing: .2em;
    text-transform: uppercase;
}

.user-interaction-button::before
{
    position: absolute;
    z-index: -1;
    top: 39%;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';

    background-color: rgb(240, 197, 46);
}

.user-interaction-button:hover
{
    background-color: rgb(240, 197, 46);
}

.user-interaction-button:active
{
    color: rgba(0, 0, 0, .3);
}

.user-interaction-match
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;

    margin: 0;
    padding: 0;

    letter-spacing: .01em;

    color: rgba(0, 0, 0, .5);
}

.user-interaction-match:hover
{
    color: rgba(0, 0, 0, 1.0);
}

.user-interaction-match:active
{
    color: rgba(0, 0, 0, .2);
}


.items-list:hover .items-user-interaction
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.items-wrapper
{
    margin-bottom: 76px;
}

.pagination
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 760px;
    margin: 0;
    margin-top: -7px;
    margin-left: 20px;
    padding: 0;

    background-color: rgba(0, 0, 0, .08);

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.pagination button
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    width: 133px;
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 30px;

    letter-spacing: .2em;

    border: none;
    background-color: transparent;
}

.pagination button:hover
{
    background-color: rgba(0, 0, 0, .08);

    background-blend-mode: normal;
}

.pagination button:active
{
    color: rgba(0, 0, 0, .3);
}

.pagination button:nth-child(1)
{
    margin-right: 210px;
}

.pages
{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 90px;
    margin: 0;
    margin-right: 194px;
    padding: 0;

    letter-spacing: .2em;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pages a
{
    color: rgba(0, 0, 0, .3);
}

.pages a:hover
{
    color: rgba(0, 0, 0, .6);
}

.pages a:active
{
    color: rgba(0, 0, 0, 1.0);
}

.filter-option-color label
{
    position: relative;
}

.filter-option-color-black::after,
.filter-option-color-white::after,
.filter-option-color-blue::after,
.filter-option-color-red::after,
.filter-option-color-pink::after
{
    position: absolute;
    top: -3px;
    left: -1px;

    width: 30px;
    height: 28px;

    content: '';

    background-image: url('../img/icons/checkbox-off-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-option-color-black:hover::after,
.filter-option-color-white:hover::after,
.filter-option-color-blue:hover::after,
.filter-option-color-red:hover::after,
.filter-option-color-pink:hover::after
{
    opacity: .6;
}

.black:checked ~ .filter-option-color-black:hover::after,
.white:checked ~ .filter-option-color-white:hover::after,
.blue:checked ~ .filter-option-color-blue:hover::after,
.red:checked ~ .filter-option-color-red:hover::after,
.pink:checked ~ .filter-option-color-pink:hover::after
{
    opacity: .6;
}

.black:checked ~ .filter-option-color-black::after,
.white:checked ~ .filter-option-color-white::after,
.blue:checked ~ .filter-option-color-blue::after,
.red:checked ~ .filter-option-color-red::after,
.pink:checked ~ .filter-option-color-pink::after
{
    background-image: url('../img/icons/checkbox-on-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-option-bluetooth label
{
    position: relative;
}

.filter-option-bluetooth-yes::after,
.filter-option-bluetooth-no::after
{
    position: absolute;
    top: -5px;
    left: -40px;

    width: 28px;
    height: 28px;

    content: '';

    background-image: url('../img/icons/radio-off-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-option-bluetooth-yes:hover::after,
.filter-option-bluetooth-no:hover::after
{
    opacity: .6;
}

.bt-yes:checked ~ .filter-option-bluetooth-yes::after,
.bt-no:checked ~ .filter-option-bluetooth-no::after
{
    background-image: url('../img/icons/radio-on-icon.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.bt-yes:checked ~ .filter-option-bluetooth-yes:hover::after,
.bt-no:checked ~ .filter-option-bluetooth-no:hover::after
{
    opacity: .6;
}

.current
{
    opacity: 1.0;
    color: rgb(0, 0, 0);
}

.current a
{
    opacity: 1.0;
    color: rgb(0, 0, 0);
}
