@font-face {
  font-family: "open-sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "open-sans_bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

$tablet: 768px;

$desktop: 1150px;

$mobile-only: 767px;

body {
  margin: 0;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
  box-sizing: border-box;
}

.header-container {
  width: 320px;
  margin: 0 auto;
}

.middle-container {
  position: relative;
    width: 320px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

@media (min-width: $tablet) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .header-container {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .middle-container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }
  .header-container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }
    .middle-container {
    width: 1150px;
    margin: 0 auto;
  }
}
