@font-face {
  font-family: 'Rufina';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Rufina-Regular.woff2") format("woff2");
  font-display: swap;
}

img {
  max-width: 100%;
}

.visually-hidden {
  display: none;
}

.container {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container__footer {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #605a58;
}

body {
  margin: 0;
  padding: 0;
}