@font-face {
  font-family: 'Rufina';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Rufina-Regular.woff2") format("woff2");
}

.container {
  width: 100%;
  min-width: 475px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container__footer {
  min-width: 475px;
  background-color: #605a58;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}