@font-face {
  font-family: 'Rufina';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Rufina-Regular.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.visually-hidden {
  display: none;
}

.container {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container__footer {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #605a58;
}

.container--rtl {
    & .navigation__item:nth-child(1) {
        order: -1;
    }
    
    & .navigation__item:nth-child(2) {
        order: -2;
    }
    
    & .navigation__item:nth-child(3) {
        order: -3;
    }
}

.container__footer--rtl {
    & .contacts {
        order: -1;
    }
    
    & .contacts__header {
        text-align: right;
    }
    
    & .contacts__email {
        text-align: right;
    }
    
    & .contacts__phone {
        text-align: right;
    }
    
    & .bio {
        text-align: right;
    }
    
    & .bio__info {
        order: -1;
        margin-right: 15px;
    }
    
    & .bio__wrapper {
        justify-content: flex-end;
    }
    
    & .bio__location {
        padding-left: 0;
        padding-right: 15px;
    }
    
    & .bio__location::before {
        left: calc(100% - 12px);
    }
    
    & .social {
        justify-content: flex-end;
    }
}

