.catalog-page__head {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  min-height: 180px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

@media (min-width: $tablet) {
  .catalog-page {
    position: relative;
    top: -39px;
    z-index: 1;
  }

  .catalog-page__head {
    padding-top: 100px;
    padding-bottom: 110px;
    margin-bottom: 90px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop) {
  .catalog-page__head {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 140px;
  }

  .catalog-page {
    position: relative;
    top: -33px;
    z-index: 1;
  }
}
