.color-form {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}

.color-form__head {
  margin: 0;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.color-form__controls {
  display: flex;
  flex-direction: column;
}

.color-form__item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 60px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet) {
  .color-form {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 167px;
    margin-bottom: 70px;
    background-color: #f1f1f1;
  }

  .color-form__head {
    position: absolute;
    top: 60px;
    left: 0;
  }

  .color-form__controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .color-form__item {
    box-sizing: border-box;
    width: 250px;
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop) {
  .color-form__head {
    left: 70px;
  }
}
