.more-form {
  padding: 0;
  margin: 0;
  border: none;
}

.more-form__head {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.more-form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 140px;
  max-height: 540px;
  border: 1px solid #000000;
  resize: vertical;

  &::placeholder {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .more-form {
    position: relative;
    padding-left: 167px;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .more-form__head {
    font-size: 17px;
    line-height: 16px;
    position: absolute;
    top: 62px;
    left: 0;
  }

  .more-form__textarea::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop) {
  .more-form {
    width: 700px;
  }

  .more-form__head {
    left: 70px;
  }
}
