.options {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.options__link {
  text-decoration: none;
  color: #444444;
}

@media (min-width: $tablet) {
  .options {
    display: flex;
    margin-left: auto;
    padding-top: 10px;
  }

  .options__item:not(:last-child) {
    display: none;
  }

  .options__item--delivery {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }
}

@media (min-width: $desktop) {
  .options {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    width: 100%;
  }

  .options__item:not(:last-child) {
    display: block;
  }

  .options__item {
    margin-right: 50px;

    &--delivery {
      align-self: baseline;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
