.telephone-form {
  padding: 0;
  margin: 0;
  border: none;
}

.telephone-form__head {
  margin: 0;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.telephone-form__input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .telephone-form {
    position: relative;
    padding-top: 65px;
    padding-left: 167px;
    background-color: #f1f1f1;
  }

  .telephone-form__head {
    font-size: 17px;
    line-height: 16px;
    position: absolute;
    top: 77px;
    left: 0;
  }

  .telephone-form__input::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop) {
  .telephone-form {
    width: 700px;
  }

  .telephone-form__head {
    left: 70px;
  }
}
