.language {
  position: absolute;
  top: 0;
  right: 5%;
}

.language--open .language__list {
  display: block;
}

.language--open .language__type {
  color: #f79436;
}

.language__type {
  font-family: 'Rufina',Arial,serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;

  &:hover {
    color: #f79436;
  }
}

.language__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
}

.language__item {
  margin-bottom: 10px;
}

.language__language {
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: #f79436;
  }
}

@media (max-width: 975px) {
  .language {
    top: 10px;
    right: 10%;
  }
}