.main-header {
  max-width: 1066px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}

.main-header__logo {
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 975px) {
  .main-header {
    padding-bottom: 0;
    border-bottom: none;
  }
}
