.my-works {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-works__item {
  width: 236px;
  height: 233px;
  margin-bottom: 40px;
  margin-right: 10px;
  border: 1px solid #a19795;
  cursor: pointer;
  background-color: transparent;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);

  & a {
    text-decoration: none;
  }

  & a:visited {
    color: #000000;
  }

  &:hover {
    filter: none;
  }

  &:active {
    opacity: .5;
  }
}

.my-works__git {
  display: block;
  font-family: 'Rufina', serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  width: 80px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;

  &:hover {
    border-bottom: 2px solid #a19795;
  }
}

.my-works__preview {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  font-family: 'Rufina', serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid #a19795;
  }
}

.my-works__image {
  max-width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 975px) {
  .my-works {
    width: 240px;
    margin: 0 auto;
    flex-direction: column;
  }
}
