.my-works {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.my-works__item {
  padding-bottom: 10px;
  border: 1px solid #a19795;
  cursor: pointer;
  background-color: transparent;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);

  & a {
    display: block;
    text-decoration: none;
  }

  & a:visited {
    color: #000000;
  }

  &:hover {
    filter: none;
  }

  &:active {
    opacity: .5;
  }
}

.my-works__git {
  display: block;
  font-family: 'Rufina', Arial, serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  width: 80px;
  margin: 0 auto;
  border-bottom: 2px solid transparent;
  text-align: center;
  box-sizing: border-box;
  color: #000000;

  &:hover {
    border-bottom: 2px solid #ff6942;
  }

  &:visited {
    color: #000000;
  }
}

.my-works__preview {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  font-family: 'Rufina', Arial, serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid #ff6942;
  }
}

.my-works__image {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
