.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.social__item {
  width: 36px;
  height: 36px;
  margin-right: 18px;
  background-color: #474241;
  border-radius: 50%;
  transition: all 0.2s ease;

  &:hover {
    background-color: #f79440;
  }
}

.social__item--vk {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 3px;
    left: 2px;
    background-image: url("../img/icons/vk-logo.svg");
    background-repeat: no-repeat;
  }
}

.social__item--git {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 5px;
    left: 3px;
    background-image: url("../img/icons/github-big-logo.svg");
    background-repeat: no-repeat;
  }
}

.social__item--inst {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    top: 6px;
    left: 5px;
    background-image: url("../img/icons/instagram-logo.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: 975px) {
  .social {
    justify-content: center;
    align-items: center;
  }
}