@font-face {
  font-family: "Muller-bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/muller-bold.woff2") format("woff2");
}
@font-face {
  font-family: "Muller-medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/muller-medium.woff2") format("woff2");
}
@font-face {
  font-family: "Muller-regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/muller-regular.woff2") format("woff2");
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.main-container {
  width: auto;
  margin: 0 auto;
  overflow: visible;
}
.hidden {
  display: none;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.main-page {
  width: 100vw;
  height: 100vh;
  padding-left: 2.5vw;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}
@media (min-width: 1880px) {
  .main-page {
    padding-left: 92px;
  }
}
.main-content {
  width: 28.83vw;
  padding-top: 2.8vh;
  padding-bottom: 3.11vh;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.main-content__logo {
  margin-bottom: 22.82vh;
}
.main-content__header {
  padding: 0;
  margin: 0;
  margin-bottom: 4.66vh;
  font-family: "Muller-medium", Arial, serif;
  font-size: 32px;
  line-height: normal;
}
@media screen and (min-width: 600px) {
  .main-content__header {
    font-size: calc(32px  +  32  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-content__header {
    font-size: 64px;
  }
}
.main-content__info {
  width: 92%;
  padding: 0;
  margin: 0;
  margin-bottom: 5.7vh;
  font-family: "Muller-regular", Arial, serif;
  font-size: 10px;
  line-height: 30px;
}
@media screen and (min-width: 600px) {
  .main-content__info {
    font-size: calc(10px  +  11  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-content__info {
    font-size: 21px;
  }
}
.main-content__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-content__button {
  margin-right: 1.7vw;
}
.main-content__launch-date {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 8px;
  line-height: 24px;
}
@media screen and (min-width: 600px) {
  .main-content__launch-date {
    font-size: calc(8px  +  8  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-content__launch-date {
    font-size: 16px;
  }
}
.main-content__slide-down {
  padding: 0;
  padding-left: 60px;
  margin: 0;
  margin-top: auto;
  font-family: "Muller-medium", Arial, serif;
  font-size: 8px;
  line-height: 18px;
  color: #f9572e;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 600px) {
  .main-content__slide-down {
    font-size: calc(8px  +  8  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-content__slide-down {
    font-size: 16px;
  }
}
.main-content__slide-down::before {
  content: "";
  width: 42px;
  height: 32px;
  position: absolute;
  left: 0;
  transition: all 0.4s ease-in-out;
  display: block;
  background-image: url("../img/icons/icon--slide-down.svg");
  background-repeat: no-repeat;
}
.main-content__slide-down:hover::before {
  -webkit-transform: scaleX(0.7);
          transform: scaleX(0.7);
}
.main-content__slide-down:visited {
  color: #f9572e;
}
@media (min-width: 1880px) {
  .main-content__button {
    margin-right: 32px;
  }
}
@media (min-height: 964px) {
  .main-content {
    padding-top: 27px;
    padding-bottom: 30px;
  }
  .main-content__header {
    margin-bottom: 45px;
  }
  .main-content__info {
    margin-bottom: 55px;
  }
  .main-content__logo {
    margin-bottom: 220px;
  }
}
.button {
  padding: 1.65vh 1.91vw;
  font-family: "Muller-medium", Arial, serif;
  font-size: 8px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  background-color: #f9572e;
  border-radius: 1.38vw;
  box-shadow: 0 0 35px 0 #f9572e;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .button {
    font-size: calc(8px  +  8  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .button {
    font-size: 16px;
  }
}
.button:visited {
  color: #ffffff;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.5;
}
@media (min-width: 1880px) {
  .button {
    padding-left: 36px;
    padding-right: 36px;
    border-radius: 26px;
  }
}
@media (min-height: 964px) {
  .button {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.video {
  width: 52.55vw;
  max-width: 1400px;
  height: 100vh;
  padding-top: 4.56vh;
  padding-right: 4.89vw;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-color: #ebebeb;
  background-image: url("../img/main-image_1.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.video__contacts {
  padding: 0;
  padding-left: 30px;
  margin-left: auto;
  position: relative;
  font-family: "Muller-regular", Arial, serif;
  font-size: 10px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  .video__contacts {
    font-size: calc(10px  +  11  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .video__contacts {
    font-size: 21px;
  }
}
.video__contacts:visited {
  color: #000000;
}
.video__contacts:hover {
  color: #f9572e;
}
.video__contacts::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../img/icons/icon--phone.svg");
  background-repeat: no-repeat;
}
@media (min-width: 1880px) {
  .video {
    padding-right: 92px;
  }
}
@media (min-width: 964px) {
  .video {
    padding-top: 44px;
  }
}
.play {
  width: auto;
  position: absolute;
  top: 30%;
  left: 40%;
}
.play__button {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  border: 4px solid #f9572e;
  border-radius: 50%;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.play__button::before {
  content: "";
  width: 114px;
  height: 131px;
  position: absolute;
  top: 20%;
  left: 33%;
  display: block;
  background-image: url("../img/icons/icon--play.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.video:hover .play__button::before {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.play__info {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 21px;
  line-height: 30px;
  color: #f9572e;
  text-align: center;
}
@media (min-width: 1880px) {
  .play__button {
    width: 250px;
    height: 250px;
  }
}
.about-us {
  width: 52.18vw;
  max-width: 981px;
  padding-top: 15.56vh;
  margin: 0 auto;
}
.about-us__header {
  padding: 0;
  padding-top: 1.55vh;
  margin: 0;
  margin-bottom: 2.59vh;
  font-family: "Muller-medium", Arial, serif;
  font-size: 20px;
  line-height: 50px;
}
@media screen and (min-width: 600px) {
  .about-us__header {
    font-size: calc(20px  +  20  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .about-us__header {
    font-size: 40px;
  }
}
.about-us__info {
  padding: 0;
  margin: 0;
  margin-bottom: 6.74vh;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #33B5A3;
}
@media screen and (min-width: 600px) {
  .about-us__info {
    font-size: calc(9px  +  7  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .about-us__info {
    font-size: 16px;
  }
}
@media (min-height: 964px) {
  .about-us {
    padding-top: 150px;
  }
  .about-us__header {
    padding-top: 15px;
    margin-bottom: 25px;
  }
  .about-us__info {
    margin-bottom: 65px;
  }
}
.advantages {
  padding: 0;
  margin: 0;
  margin-bottom: 10.37vh;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages__item {
  width: 46%;
  padding-top: 3.63vh;
  margin-bottom: 10.37vh;
  border-top: 0.21vw solid #33b5a3;
}
.advantages__item--work-time {
  padding-bottom: 1.03vh;
  border: 0.21vw solid #33b5a3;
}
.advantages__header {
  padding: 0;
  margin: 0;
  margin-bottom: 1.55vh;
  font-family: "Muller-medium", Arial, serif;
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  .advantages__header {
    font-size: calc(12px  +  12  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .advantages__header {
    font-size: 24px;
  }
}
.advantages__header--work-time {
  text-align: center;
}
.advantages__content {
  padding: 0;
  margin: 0;
  margin-bottom: 1.55vh;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  font-size: 16px;
  color: #666666;
}
@media screen and (min-width: 600px) {
  .advantages__content {
    font-size: calc(9px  +  7  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .advantages__content {
    font-size: 16px;
  }
}
.advantages__content--work-time {
  font-family: "Muller-medium", Arial, serif;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}
@media screen and (min-width: 600px) {
  .advantages__content--work-time {
    font-size: calc(32px  +  32  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .advantages__content--work-time {
    font-size: 64px;
  }
}
@media (min-width: 1880px) {
  .advantages__item {
    border-top: 4px solid #33b5a3;
  }
  .advantages__item--work-time {
    border: 4px solid #33b5a3;
  }
}
@media (min-height: 964px) {
  .advantages {
    margin-bottom: 100px;
  }
  .advantages__item {
    padding-top: 35px;
    margin-bottom: 100px;
  }
  .advantages__item--work-time {
    padding-bottom: 10px;
  }
  .advantages__header {
    margin-bottom: 15px;
  }
  .advantages__content {
    margin-bottom: 15px;
  }
}
.interior {
  position: relative;
  margin-bottom: 13.48vh;
  overflow: hidden;
}
.interior__wrapper {
  width: 52.18vw;
  max-width: 981px;
  margin: 0 auto;
}
.interior__header {
  padding: 0;
  padding-top: 1.55vh;
  margin: 0;
  margin-bottom: 2.59vh;
  font-family: "Muller-medium", Arial, serif;
  font-size: 20px;
  line-height: 50px;
}
@media screen and (min-width: 600px) {
  .interior__header {
    font-size: calc(20px  +  20  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .interior__header {
    font-size: 40px;
  }
}
.interior__info {
  padding: 0;
  margin: 0;
  margin-bottom: 5.7vh;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #33B5A3;
}
@media screen and (min-width: 600px) {
  .interior__info {
    font-size: calc(9px  +  7  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .interior__info {
    font-size: 16px;
  }
}
@media (min-width: 964px) {
  .interior {
    margin-bottom: 130px;
  }
  .interior__header {
    padding-top: 15px;
    margin-bottom: 25px;
  }
  .interior__info {
    margin-bottom: 55px;
  }
}
.slider {
  width: 153%;
  height: 45.86vh;
  max-height: 500px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  left: -27%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  transition: all 1s ease-in-out;
}
.slider__item {
  width: 48.77%;
  max-width: 925px;
  margin-right: 1.82vw;
  display: flex;
}
.slider__image {
  width: auto;
  max-width: 100%;
  height: auto;
  margin-right: 1.06vw;
  display: block;
  opacity: .6;
}
.slider__content {
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 15%;
  display: none;
  font-family: "Muller-regular", Arial, serif;
  font-size: 7px;
  line-height: 20px;
  color: #666666;
}
@media screen and (min-width: 600px) {
  .slider__content {
    font-size: calc(7px  +  6  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .slider__content {
    font-size: 13px;
  }
}
.slider__item--current .slider__content {
  display: block;
}
.slider__controls {
  position: absolute;
  bottom: 0;
  right: 29%;
}
.slider-controls__radio-button--slider-one:checked ~ .slider {
  -webkit-transform: translateX(51vw);
          transform: translateX(51vw);
}
.slider-controls__radio-button--slider-three:checked ~ .slider {
  -webkit-transform: translateX(-51vw);
          transform: translateX(-51vw);
}
.slider-controls__radio-button--slider-one:checked ~ .slider .slider__image--classic {
  opacity: 1;
}
.slider-controls__radio-button--slider-two:checked ~ .slider .slider__image--scandinavian {
  opacity: 1;
}
.slider-controls__radio-button--slider-three:checked ~ .slider .slider__image--eco {
  opacity: 1;
}
.slider-controls__radio-button--slider-one:checked ~ .slider .slider__item--classic .slider__content {
  display: block;
}
.slider-controls__radio-button--slider-two:checked ~ .slider .slider__item--scandinavian .slider__content {
  display: block;
}
.slider-controls__radio-button--slider-three:checked ~ .slider .slider__item--eco .slider__content {
  display: block;
}
@media (min-width: 1880px) {
  .slider__image {
    margin-right: 20px;
  }
}
.slider-controls {
  width: 4vw;
  max-width: 75px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.slider-controls__item {
  width: 25px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.slider-controls__item--left::before {
  content: "";
  width: 23px;
  height: 46px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../img/icons/icon--slider-left.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.slider-controls__item--right::before {
  content: "";
  width: 23px;
  height: 46px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../img/icons/icon--slider-right.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.slider-controls__icon {
  transition: all 0.4s ease-in-out;
}
.slider-controls__icon:hover {
  -webkit-transform: scaleY(0.8);
          transform: scaleY(0.8);
}
.slider-controls__icon:active {
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
}
.main-form {
  width: 52.18vw;
  max-width: 981px;
  margin: 0 auto;
  margin-bottom: 13.58vh;
  position: relative;
}
.main-form__content {
  padding-bottom: 6.22vh;
  display: flex;
  flex-direction: column;
  border: 0.21vw solid #33b5a3;
}
.main-form__header {
  margin: 0 auto;
  font-family: "Muller-medium", Arial, serif;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  display: block;
}
@media screen and (min-width: 600px) {
  .main-form__header {
    font-size: calc(20px  +  20  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-form__header {
    font-size: 40px;
  }
}
.main-form__promo {
  width: 30%;
  padding: 0;
  padding-top: 1.55vh;
  padding-left: 60px;
  margin: 0 auto;
  margin-bottom: 6.22vh;
  position: relative;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  line-height: 24px;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  .main-form__promo {
    font-size: calc(9px  +  7  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-form__promo {
    font-size: 16px;
  }
}
.main-form__promo::before {
  content: "";
  width: 45px;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../img/icons/icon--door.svg");
  background-repeat: no-repeat;
}
.main-form__fieldset {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3.11vh;
  height: 6.22vh;
  max-height: 68px;
  padding: 2.07vh 1.59vw;
  border: 0.05vw solid #ebebeb;
  border-radius: 0.26vw;
  box-sizing: border-box;
  position: relative;
}
.main-form__legend {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 7px;
  line-height: 1px;
  color: #f9572e;
  background-color: #ffffff;
}
@media screen and (min-width: 600px) {
  .main-form__legend {
    font-size: calc(7px  +  6  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-form__legend {
    font-size: 13px;
  }
}
.main-form__input {
  width: 100%;
  border: none;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  outline: none;
}
@media screen and (min-width: 600px) {
  .main-form__input {
    font-size: calc(9px  +  9  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-form__input {
    font-size: 18px;
  }
}
.main-form__input::-webkit-input-placeholder {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  line-height: 24px;
}
.main-form__input:-ms-input-placeholder {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  line-height: 24px;
}
.main-form__input::-ms-input-placeholder {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  line-height: 24px;
}
.main-form__input::placeholder {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  line-height: 24px;
}
@media screen and (min-width: 600px) {
  .main-form__input::-webkit-input-placeholder {
    font-size: calc(9px  +  9  * ((100vw -  600px ) / 1280 ));
  }
  .main-form__input:-ms-input-placeholder {
    font-size: calc(9px  +  9  * ((100vw -  600px ) / 1280 ));
  }
  .main-form__input::-ms-input-placeholder {
    font-size: calc(9px  +  9  * ((100vw -  600px ) / 1280 ));
  }
  .main-form__input::placeholder {
    font-size: calc(9px  +  9  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-form__input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .main-form__input:-ms-input-placeholder {
    font-size: 18px;
  }
  .main-form__input::-ms-input-placeholder {
    font-size: 18px;
  }
  .main-form__input::placeholder {
    font-size: 18px;
  }
}
.main-form__submit {
  margin: 0 auto;
  margin-bottom: 2.07vh;
  border: none;
}
.main-form__requirement {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 7px;
  line-height: 20px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .main-form__requirement {
    font-size: calc(7px  +  6  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-form__requirement {
    font-size: 13px;
  }
}
.main-form__privacy {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 7px;
  line-height: 20px;
  text-align: center;
  color: #f9572e;
  text-decoration: none;
}
@media screen and (min-width: 600px) {
  .main-form__privacy {
    font-size: calc(7px  +  6  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-form__privacy {
    font-size: 13px;
  }
}
.main-form__privacy:visited {
  color: #f9572e;
}
@media (min-width: 1880px) {
  .main-form__content {
    border: 4px solid #33b5a3;
  }
  .main-form__fieldset {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0.05vw solid #ebebeb;
    border-radius: 0.26vw;
  }
}
@media (min-height: 964px) {
  .main-form {
    margin-bottom: 130px;
  }
  .main-form__content {
    padding-bottom: 60px;
  }
  .main-form__promo {
    padding-top: 15px;
    margin-bottom: 60px;
  }
  .main-form__fieldset {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-form__submit {
    margin-bottom: 20px;
  }
}
.main-footer {
  padding-top: 7.78vh;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}
.main-footer__copyright {
  width: 91.64vw;
  max-width: 1720px;
  margin: 0 auto;
  padding-top: 4.15vh;
  padding-bottom: 4.15vh;
  border-top: 1px solid #CCCCCC;
  font-family: "Muller-regular", Arial, serif;
  font-size: 8px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .main-footer__copyright {
    font-size: calc(8px  +  8  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .main-footer__copyright {
    font-size: 16px;
  }
}
@media (min-width: 964px) {
  .main-footer {
    padding-top: 75px;
  }
  .main-footer__copyright {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.social {
  width: 11.27vw;
  max-width: 212px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 3.11vh;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social__item:hover {
  box-shadow: 0 0 35px 0 #f9572e;
}
.social__item:focus {
  outline: none;
  box-shadow: 0 0 35px 0 #f9572e;
}
.social__link {
  width: 50px;
  height: 51px;
  padding-top: 1.55vh;
  display: block;
  background-color: #f9572e;
  text-align: center;
  box-sizing: border-box;
}
@media (min-width: 964px) {
  .social {
    margin-bottom: 30px;
  }
  .social__link {
    padding-top: 15px;
  }
}
.follow-us {
  width: 23.93vw;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 8.81vh;
  text-align: center;
}
.follow-us__header {
  padding: 0;
  margin: 0;
  margin-bottom: 1.03vh;
  font-family: "Muller-regular", Arial, serif;
  font-size: 11px;
}
@media screen and (min-width: 600px) {
  .follow-us__header {
    font-size: calc(11px  +  10  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .follow-us__header {
    font-size: 21px;
  }
}
.follow-us__content {
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  color: #666666;
}
@media screen and (min-width: 600px) {
  .follow-us__content {
    font-size: calc(9px  +  7  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .follow-us__content {
    font-size: 16px;
  }
}
@media (min-height: 964px) {
  .follow-us {
    margin-bottom: 85px;
  }
  .follow-us__header {
    margin-bottom: 10px;
  }
}
.contacts {
  width: 47.34vw;
  max-width: 890px;
  padding: 0;
  padding-bottom: 7.78vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  scroll-behavior: smooth;
}
.contacts__item {
  padding-left: 40px;
  position: relative;
}
.contacts__content {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: "Muller-regular", Arial, serif;
  font-size: 9px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
@media screen and (min-width: 600px) {
  .contacts__content {
    font-size: calc(9px  +  12  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .contacts__content {
    font-size: 21px;
  }
}
.contacts__content:visited {
  color: #000000;
}
.contacts__content--email {
  border-bottom: 2px solid #f9572e;
}
.contacts__content--email:hover {
  color: #f9572e;
}
.contacts__icon {
  position: absolute;
  top: -3px;
  left: 0;
}
.contacts__city {
  font-family: "Muller-regular", Arial, serif;
  font-size: 8px;
  color: #666666;
}
@media screen and (min-width: 600px) {
  .contacts__city {
    font-size: calc(8px  +  8  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .contacts__city {
    font-size: 16px;
  }
}
@media (min-height: 964px) {
  .contacts {
    padding-bottom: 75px;
  }
}
.popup {
  width: 96%;
  height: 87%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #ffffff;
  z-index: 2;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
          animation: fadeInFromNone 0.5s ease-out;
}
.popup__open {
  display: flex;
}
.popup__check {
  margin-bottom: 3.11vh;
}
.popup__content {
  width: 30%;
  font-family: "Muller-regular", Arial, serif;
  font-size: 8px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  .popup__content {
    font-size: calc(8px  +  8  * ((100vw -  600px ) / 1280 ));
  }
}
@media screen and (min-width: 1880px) {
  .popup__content {
    font-size: 16px;
  }
}
@media (min-height: 964px) {
  .popup__check {
    margin-bottom: 30px;
  }
}
